@{
    ViewData["Title"] = "BuyAndSell";
}
@section BuySection {
    <div>
        KØØØØØØØØØØØB!!!!!!!!!!!
    </div>
}
@section SaleSection {
    <div>
        SÆLG!!!!!!!!!!!!
    </div>
}
<h2>
    nioanbcea
</h2>